.container {
  height: 70vh;
  width: 70vw;
  margin-top: 20px;
}

.container h1 {
  padding-bottom: 25px;
}

.container button {
margin-top: 20px;
}

.ulFriends {
  display: flex;
  flex-wrap: wrap;
}